# Environment
NODE_ENV=development
ENV=development

# Backend
PORT=8080
DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require
REDIS_ADDR=redis:6379
API_KEYS=key1,key2

# Database
DB_NAME=todos
DB_USER=postgres
DB_PASSWORD=postgres

# Frontend
REACT_APP_API_URL=http://localhost:8080
REACT_APP_FRONTEND_URL=http://localhost:3000